html {
  scroll-behavior: smooth;
}
body {
  font-family: $main-font;
  color: $main-text-color;
  font-size: 12px;
  line-height: 1.33;

  &.modal-open {
    overflow: hidden;
  }
}
body.light-theme {
  background-color: $accent-light;
  transition: background-color $animation;
}
body.dark-theme {
  background-color: $dark-theme-color;
  color: $secondary-text-color;
  transition: background-color $animation;
  & .modal {
    background-color: #292929;
  }
  & .team-modal__heading,
  & .login__placeholder {
    color: $secondary-text-color;
  }
  & .modal__close {
    stroke: $secondary-text-color;

    &:hover,
    &:focus {
      stroke: $accent-dark;
    }
  }
  & .button--black {
    border: 1px solid $accent-light;
    color: $secondary-text-color;
  }
  & .login__input {
    border-color: $accent-light;
  }
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-100%);
  transition: visibility $animation, opacity $animation, transform $animation;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  color: inherit;
  text-decoration: none;
  transition: color $animation;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

.container {
  max-width: 320px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  @include for-tablet {
    max-width: 660px;
  }
  @include for-desktop {
    max-width: 920px;
  }
}
