$accent-dark: #ff6b01;
$accent-light: #ffffff;

$dark-btn: #000000;

$main-text-color: #000000;
$secondary-text-color: #ffffff;
$footer-text-color: #545454;

$main-bg-color: #ffffff;
$footer-bg-color: #f7f7f7;
$dark-theme-color: #444444;
$main-font: 'Roboto', sans-serif;

$modal-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);

$animation: 2500ms cubic-bezier(0.4, 0, 0.2, 1);
