.gallery {
  &__image {
    background-color: rgb(172, 172, 172);
    background-image: url(../images/film.jpg);
    background-size: cover;

    width: 280px;
    height: 398px;

    @include for-tablet {
      width: 294px;
    }

    @include for-desktop {
      width: 274px;
    }
  }

  &__title-wrap {
    margin-top: 10px;
  }

  &__title {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.33;
    font-weight: 500;
  }

  &__accent {
    margin-top: 5px;
    color: $accent-dark;
  }
}
