.gallery { 
&__image {
  width: 100%;
}

&__title-wrap {
   padding-top: 10px;
}

&__title {
   font-weight: 500;
   letter-spacing: 0;

}

&__accent {
   color: $accent-dark;
}

&__title-grade{
   margin-left: 20px;
   padding: 1px 10px;
   border-radius: 5px;
   color: $secondary-text-color;
   background: $accent-dark;
}}