.theme{
  position: absolute;
  right: 10px;
}

.theme__change{
  -webkit-appearance: none;
  width: 65px;
  height: 35px;
  background-color: $dark-theme-color;
  border: 3px solid $dark-theme-color;
  border-radius: 100px 100px 100px 100px;
  outline: none;
  cursor: pointer;
  transition: all 0.5s;

  background-image: url(../images/icons/moon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;

}
.theme__change:checked {
  background-position: right;
  background-color: #000;
  border: 3px solid  #000;
  border-radius: 100px 100px 100px 100px;
  
  background-image: url(../images/icons/sun.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.theme__change::before {
  content: "";
  position: absolute;
  width: 29px;
  height: 29px;
  left: 50%;
  top: 44%;
  transform: translateY(-50%) scale(0.8);
  border: 3px solid $accent-light;
  border-radius: 100px 100px 100px 100px;
  background-color: $accent-light;
  transition: all 0.7s;
}



.theme__change:checked::before {
  left: 3px;
}

