// FT-06 Здесь стили для контейнера с карточками

.container--gallery {
  padding-top: 20px;
  margin-bottom: 110px;

  @include for-tablet {
    padding-top: 60px;
    margin-bottom: 77px;
  }
}
.gallery {
  @include for-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }
  @include for-desktop {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__item {
    margin-bottom: 20px;
  }
}
