// FT-06 Здесь стили для контейнера с карточками

.container--gallery {
  padding-top: 20px;
  margin-bottom: 110px;

  @include for-tablet {
    padding-top: 60px;
    margin-bottom: 77px;
  }
}

.gallery {
  @include for-tablet {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }
  @include for-desktop {
    grid-template-columns: 1fr 1fr 1fr;
  }
   padding-top: 20px;
   padding-bottom: 20px;
   margin-bottom: 100px;
   display: grid;
   @include for-tablet {
   margin-bottom: 77px;
   padding-top: 60px;
   padding-bottom: 50px;
   grid-template-columns: 1fr 1fr ;
   grid-column-gap: 30px; 
   };
   @include for-desktop {
   grid-template-columns: 1fr 1fr 1fr;
   }
   
&__item {
   padding-bottom: 10px;
   margin-bottom: 20px;
   transition: scale $animation;
}
&__item:not(:last-child) {
   padding-bottom: 10px;
}
&__item:hover,
&__item:focus{
transform: scale(1.01);

}}


