//header-background
.header-background--home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/background/rectangle-1x-desktop.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/background/rectangle-2x-desktop.jpg);
  }
  background-size: cover;
  background-repeat: no-repeat;
}

.header-background--library {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/background/library-1x-desktop.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/background/library-2x-desktop.jpg);
  }
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.header > .container {
  position: relative;
  padding-top: 41px;
  padding-bottom: 40px;
}

// header-links
.header-links {
  display: flex;
  justify-content: space-between;
}
.header-links__list {
  display: flex;
  color: $secondary-text-color;
  text-transform: uppercase;
}
.header-links__item:not(:last-child) {
  margin-right: 39px;
}

.header-links__item--login {
  margin: 0px;
}

// header-form
.header-form {
  text-align: center;
}

// header-library
.header-library__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header-library__item:not(:last-child) {
  margin-right: 20px;
}

//header-input
.header-form {
  position: relative;
  top: 30px;
}

.header-form__input {
  font-size: 14px;
  line-height: 1.14;
  color: $secondary-text-color;

  background: transparent;
  width: 277px;
  @include for-tablet {
    width: 336px;
  }
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 0.5px solid $secondary-text-color;
  padding-bottom: 4px;
  outline: none;
}

.header-form__input::placeholder {
  color: $secondary-text-color;
}

.header-form__btn {
  background: transparent;
  border: 0;
  position: absolute;
  margin-left: -20px;
  cursor: pointer;
}

.logo__link {
  display: flex;
  align-items: center;
}

.logo__icon {
  stroke: #818181;
  fill: none;
  @include for-tablet {
    margin-right: 10px;
  }
  @include for-desktop {
    margin-right: 12px;
  }
}

.logo__name {
  display: none;
  @include for-tablet {
    display: flex;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    color: $secondary-text-color;
  }
}
.header-links__item:hover,
.header-links__item:focus {
  color: $accent-dark;
  transition: color $animation;
}
.header-links__link--current {
  position: relative;
}

.header-links__link--current::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  background-color: $accent-dark;
  width: 100%;
  height: 3px;
}
.translate {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
//
.select-css {
  display: block;
  margin-right: auto;
  width: 65px;
  height: 36px;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  line-height: 1.3;
  padding: 4px;

  opacity: 0.9;
  border: 1px solid #aaa;

  background-color: transparent;
}

.select-css option {
  font-weight: normal;
  opacity: 0.6;
  background-color: #000;
}
.header-form__field {
  position: relative;
}
.header-form__placeholder {
  position: absolute;
  color: #ffff;
  top: 50%;
  left: 0;
  font-size: 14px;
  line-height: 1.24;
  font-weight: 500;
  letter-spacing: 0.01em;

  transition: transform $animation;
  transform: translateY(-50%);
}
.header-form__field:focus-within .header-form__placeholder {
  transform: translate(0px, -30px);
  display: none;
}

.header-form__input:not(:placeholder-shown) + .header-form__placeholder {
  transform: translate(0px, -30px);
  display: none;
}
