.team-modal {
  padding: 50px 20px;
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  @include for-tablet {
    width: 618px;
  }
  @include for-desktop {
    width: 882px;
  }
  background-color: #d8d8d8;
}

.team-modal__heading {
  text-align: center;
  font-size: 24px;
  color: $secondary-text-color;
  margin-bottom: 15px;
}

.team-modal__heading span {
  color: $accent-dark;
}

// .team-modal__text {
//   margin-bottom: 10px;
//   text-align: center;
//   color: $secondary-text-color;
//   font-size: 20px;
// }

.team-modal__list {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 100px;
  display: grid;

  @include for-tablet {
    margin-bottom: 77px;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }

  @include for-desktop {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.team-modal__item {
  margin-bottom: 15px;
}

.team-modal__thumb {
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.img__thumb {
  height: 205px;
  border-radius: 10px;
  overflow: hidden;
}

.overlay {
  position: absolute;
  left: 0;
  bottom: 0;

  padding: 50px 10px;
  width: 100%;
  height: 100%;

  font-size: 18px;
  line-height: 1.56;
  color: $secondary-text-color;
  background-color: rgba(161, 161, 161, 0.9);
  border-radius: 10px;

  opacity: 0;
  transform: translateY(100%);
  transition: transform $animation, opacity $animation;
}

.team-modal__item:hover .overlay {
  transform: translateY(0);
  opacity: 1;
  overflow: hidden;
}

.team-modal__content {
  position: relative;
  text-align: center;
  font-size: 14px;
}

.team-modal___title-overlay {
  font-size: 14px;
  margin-bottom: 7px;
}

.team-modal__tel {
  margin-bottom: 5px;
}
.social {
  margin-top: 10px;
}
.social__list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}
.social__link {
  display: block;
  padding-top: 6px;
  border-radius: 50%;
  background-color: $accent-dark;
  color: #ffffff;
  width: 40px;
  height: 40px;
  text-align: center;

  transition: transform $animation;

  &--git {
    background-color: $accent-light;
  }
}
.social__link:hover,
.social__link:focus {
  transform: scale(1.1);
}
.social__logo {
  fill: $accent-light;
  width: 27px;
  height: 27px;

  &--git {
    fill: $accent-dark;
  }
}

.team-modal__name {
  margin-bottom: 4px;
  font-size: 18px;
  letter-spacing: 0;
}

.team-modal__role {
  font-size: 16px;
  color: $accent-dark;
}
/* .team-modal__item {
  flex: 0 0 25%;
  max-width: 100%;
}

.team-modal .team-modal__item .team-modal__thumb::after {
  background: #232323 none repeat scroll 0 0;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  width: 100%;
}

.team-modal .team-modal__item:hover .team-modal__thumb .overlay {
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.team-modal .team-modal__item:hover .team-modal__thumb img {
  opacity: 0.6;
}

.img__thumb {
  height: 205px;
  overflow: hidden;
} */

/* .team-modal__item {
  margin-top: 30px;
}

.team-modal {
  background-color: #777777;
  width: 280px;
  height: 958px;
  padding: 40px 20px;

  @include for-tablet {
    display: flex;
    width: 618px;
    height: 562px;
    padding: 40px 30px;

    .team-modal__items {
      display: flex;
      flex-wrap: wrap;
      margin-top: -30px;
      margin-left: -30px;
    }
    .team-modal__item {
      margin-top: 30px;
      flex-basis: calc((100% - 2 * 30px) / 2);
      margin-left: 30px;
    }
  }

  @include for-desktop {
    width: 882px;
    height: 568px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 40px;
    padding-left: 30px;

    .team-modal__item {
      flex-basis: calc((100% - 4 * 30px) / 4);
    }
  }
}

.team-modal__heading {
  text-align: center;
}

.team-modal__heading,
.team-modal__contacts,
.team-modal__tech-skills {
  margin-bottom: 15px;
  text-align: center;
}

///////////////
.team-modal___title-overlay {
  font-size: 12px;
}

.site-heading h2 {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}

// .site-heading h2 span {
// }

.site-heading h2 {
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
}

.site-heading h2::before {
  background: #ff5a6e none repeat scroll 0 0;
  bottom: 0;
  content: '';
  height: 2px;
  left: 50%;
  margin-left: -25px;
  position: absolute;
  width: 50px;
}
.site-heading h2 span {
  color: #ff5a6e;
}

.site-heading {
  margin-bottom: 60px;
  overflow: hidden;
  margin-top: -5px;
}

.team-area .team-modal__thumb {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.team-area .item .team-modal__thumb::after {
  background: #232323 none repeat scroll 0 0;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  width: 100%;
}

.team-area .team-items .item:hover .team-modal__thumb::after {
  opacity: 0.7;
}

.team-area .item .team-modal__thumb .overlay {
  top: -100%;
  left: 0;
  padding: 20px;
  position: absolute;
  text-align: center;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  width: 100%;
  z-index: 1;
}

.team-area .item:hover .team-modal__thumb .overlay {
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}

.team-area .item .team-modal__thumb .overlay p {
  color: #ffffff;
}

.team-area .item .team-modal__thumb .overlay h2 {
  color: #ffffff;
  display: inline-block;
  position: relative;
  text-transform: uppercase;
}

.team-area .item .team-modal__thumb img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.team-area .item:hover .team-modal__thumb img {
  opacity: 0.6;
}

.team-area .item .team-modal__thumb .team-modal__contacts li {
  display: inline-block;
}

.team-area .item .team-modal__thumb .team-modal__contacts li a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 0 2px;
  text-align: center;
  width: 40px;
}

.team-area .info {
  background: #ffffff none repeat scroll 0 0;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  padding: 40px 20px 20px;
  position: relative;
  text-align: center;
  z-index: 9;
}

.team-area .info .message {
  height: 50px;
  line-height: 40px;
  margin-left: -25px;
  margin-top: -25px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 50px;
}

.team-area .info .message a {
  background: #fff none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  box-sizing: border-box;
  color: #ff5a6e;
  display: inline-block;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  width: 50px;
}

.team-area .info .message a i {
  font-weight: 500;
}

.team-area .info h2 {
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.team-area .info span {
  color: #ff5a6e;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.team-area .team-modal__contacts li.twitter a {
  background-color: #00b6f1;
}

.team-area .team-modal__contacts li.pinterest a {
  background-color: #bd081c;
}

.team-area .team-modal__contacts li.facebook a {
  background-color: #3b5998;
}

.team-area .team-modal__contacts li.google-plus a {
  background-color: #df4a32;
}

.team-area .team-modal__contacts li.vimeo a {
  background-color: #1ab7ea;
}

.team-area .team-modal__contacts li.instagram a {
  background-color: #cd486b;
}
 */
